body {
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );

  --custom-color-border: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
}

.mantine-Card-root[data-with-border] {
  border-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-5)
  );
}

.mantine-Modal-title {
  font-weight: 500;
  font-size: var(--mantine-font-size-lg);
}

.mantine-Overlay-root {
  backdrop-filter: blur(6px);
}
