body {
  background: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );

  --custom-color-border: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
}

a {
  color: var(--mantine-color-anchor);
}
