.header {
  background: linear-gradient(
    to bottom,
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)) 0%,
    transparent 100%
  );
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  padding: 8px;
  margin-top: 12px;

  & svg {
    width: 100%;
    fill: var(--mantine-color-text);
  }
}

.github {
  & svg {
    width: 32px;
    fill: var(--mantine-color-text);
  }
}
